@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.projectsBlock {
  background-color: $bgSecondColor;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;

  .projectsContainer {
    @include flex(center, space-between);
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: flex-start;
    }
    .projects {
      width: 100%;
      @include flex(center, space-between);
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
    }
  }
}



