@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;
  @include flex(center, space-around);

  .mainContainer {
    @include flex(center, space-between);
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 1024px) {
      @include flex(center, center);
    }

    .text {
      @include text($fontJosefin, 24px, 600, 1px, 1.4);
      @include flex(center, center);
      width: 600px;
      flex-direction: column;
      text-align: center;
      @media screen and (max-width: 1024px) {
        margin-top: 10px;
        width: 450px;
        font-size: 22px;
      }

      .profile {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .photo {
      @include flex(center, center);
      width: 330px;
      height: 420px;
      background-color: $bgSecondColor;
      color: $textColor;
      border: 4px solid $primaryColor;
      @media screen and (max-width: 1024px) {
        width: 290px;
        height: 380px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .img {
        @include flex(center, center);
        width: 320px;
        background-color: $bgFirstColor;
        margin-right: 40px;
        color: $textColor;

        &:hover {
          transform: scale(1.2, 1.2);
          transition: 0.5s;
        }

        @media screen and (max-width: 1024px) {
          width: 280px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

  }
}
