.skillsBlock {
    background-color: #d4ffc0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 80px;
}


.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .skillsContainer {
        justify-content: flex-start;
    }
    .skills {
        justify-content: center;
    }

    .title {
        font-size: 32px;
    }

}



