@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.header {
    min-height: 10vh;
    background-color: $bgFirstColor;
    position: sticky;
    z-index: 20000;
    @include flex(center, flex-end);
    @media screen and (max-width: 1024px) {
            justify-content: center;
    }

}

