.navbar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

@media screen and (max-width: 1024px) {
    .navbar {
        margin-right: 0;
        font-size: 22px;
    }
}
