@import "../../../../common/styles/sass/variables";
@import "../../../../common/styles/sass/mixins";

.a {
    @include text($fontPoppins, 16px, 500, 1px, 1.2);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
        color: $primaryColor;
    }
    @media screen and (max-width: 1024px) {
        @include text($fontPoppins, 11px, 300, 1px, 1.2);
        margin-left: 0px;
    }


}
